<h1>Apprentices of <%= @knight.name %></h1>
<p><%= link_to 'Create Apprentice', new_knight_apprentice_path(@knight) %></p>
<ul>
  <% @apprentices.each do |apprentice| %>
    <li>
      <%= link_to apprentice.name, apprentice_path(apprentice) %><br>
      Knighted: <%= apprentice.is_knighted %><br>
      Age: <%= apprentice.age %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back to Knights', knights_path %>